
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Goldman", cursive;
  background-image: url('./img/background.jpeg'); 
  background-size: cover; 
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  background-color: #00a8c7;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  font-size: 2.5rem;
  padding: 0 4rem;
}

nav a {
  color: rgb(238, 230, 230);
  text-decoration: none;
}

nav img {
  width: 5vw;
}

.content {
  flex: 1; 
  text-align: center;
  padding: 2rem;
  color: rgb(254, 251, 251);
  position: relative;
}

.content h1 {
  font-size: 4rem; 
  margin-bottom: 1rem; 
}

.content p {
  font-size: 2rem; 
  margin-top: 0; 
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #00a8c7;
  text-align: center;
  font-size: 3.4rem;
  color: white;
  padding: 1rem 0;
}


